 <footer>
  <div class="container text-center">
    <div>
      <i class="fa fa-instagram" style="font-size:1.8em" aria-hidden="true"></i>
      <a href="https://wa.me/601111860760"><i class="fa fa-whatsapp" style="font-size:1.8em; margin-left:10px" aria-hidden="true"></i></a>
    </div>
    <div>
      <a href="{{ contact }}">{{ text_contact }}</a>
    </div>
    <div>{{ powered }}</div>
    <div style="font-size:0.9em">
      {% if informations %}
        <ul class="list-inline list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% if not loop.last %}
          <li>|</li>
          {% endif %}
          {% endfor %}
      {% endif %}
  </div>
  </div>
  
 </footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>