<div class="container">
<h3 class="text-center hvfont" style="text-transform:uppercase; margin-bottom:40px; font-weight:bold; line-height:42px; font-size:28px; color:#000">{{ heading_title }}</h3>
<div class="row"> 
  {% for ind,product in products %}
  
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-6" >
    <div data-aos="fade-up"
    data-aos-delay="{{ ind*50 }}"
    data-aos-easing="ease-in-out"
    data-aos-once="true">
    <div class="product-thumb transition">
    {% if product.tag != '' %}
    <div class="product-tag">{{ product.tag }}</div>
    {% endif %}
    {% if product.quantity == 0 %}
    <div class="soldout">Out of Stock</div>
    {% endif %}
    
    {% if product.stock_stat == 'Preorder' and product.quantity > 0 %}
    <div class="product-tag-preorder"><strong>{{ product.stock_stat }}</strong></div>
    {% endif %}

    {% if product.stock_stat == 'Backorder' %}
    <div class="product-tag-backorder"><strong>{{ product.stock_stat }}</strong></div>
    {% endif %}
    
      <div class="image">
          <a href="{{ product.href }}">
            {% if product.quantity == 0 %}
            <img src="https://lambatlebohrecs.com/image/catalog/common/transparent-overlay.png" class="img-responsive soldout-overlay">
            {% endif %}
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
          </div>
      <div class="caption">
        <h4 class="hidden-xs"><a href="{{ product.href }}">{{ product.name|slice(0,50) | trim(' ') }}{{ product.name|length > 50 ? '...' : '' }}</a></h4>
        <h4 class="visible-xs"><a href="{{ product.href }}">{{ product.name|slice(0,30) | trim(' ') }}{{ product.name|length > 30 ? '...' : '' }}</a></h4>
        <p class="hidden">{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        {% endif %} </div>
      
    </div>
    <div class="hover-add-cart-{ product.product_id }} hidden">
        <button type="button" 
        onclick="cart.add('{{ product.product_id }}');">
        <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
      </div>
  </div>
  </div>
  {% endfor %} </div>

</div>
<script type="text/javascript">
  $('.product-thumb').on('mouseover', function(){
    $('.hover-add-cart').removeClass('hidden')
  })
  $('.product-thumb').on('mouseout', function(){
    $('.hover-add-cart').addClass('hidden')
  })
  AOS.refresh();
</script>